<h1>Restablecer clave</h1>
<p>Para reestablecer la clave haga click en el siguiente vinculo:</p>
<%=	link_to	"Restablecer clave",
			edit_password_reset_url(@user.reset_token,				
									email: @user.email) %>
<p>Este vinculo expirara luego de dos horas.</p>
<p>
Si no solicito el cambio de clave desestime este correo.
</p>