<% provide(:title, "Modificar beneficio")	%>
<h1>Desea dar de baja el beneficio Premium?</h1>
<div class="row">
		<div class="col-md-6 col-md-offset-3">
						<h3>Si desea dar de baja el beneficio, haga click en el boton.</h3>
				<%=link_to "Quitar servicio Premium", users_quitPremium_path, method: :put, class: "btn btn-primary" %>
		</div>
</div>