
<p>
  <strong>Nombre:</strong>
  <%= @tipo.nombre %>
  <%if @tipo.disponible
  	   @tipo.nombre
  	else "chau"
  	end
  	%>

</p>

<%= link_to 'Editar', edit_tipo_path(@tipo), class: "btn btn-primary" %>
 &nbsp
<%= link_to 'Atras', tipos_path , class: "btn btn-primary"%>
